<div id="feedback">

    <nav class="navbar navbar-expand-lg bg-light mb-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <strong class="text-secondary">Feedback</strong>
            </li>
        </ul>
    </nav>

    <div class="container">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-left">Describe in detail atleast 5 things you liked about<br>the Plan of Study you came up with.</span>
        </div>
        <textarea id="yes-feedback" class="form-control mandatory" placeholder="This task is mandatory."></textarea>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-left">Describe in detail atleast 5 things you did NOT like<br>about the Plan of Study you came up with.</span>
        </div>
        <textarea id="no-feedback" class="form-control mandatory" placeholder="This task is mandatory."></textarea>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-left">Describe in detail what other features of the interface<br>you would like to have.</span>
        </div>
        <textarea id="mange-more-feedback" class="form-control mandatory" placeholder="This task is mandatory."></textarea>
    </div>

    <div class="row">

        <div class="col">

            <div class="card mb-3">
                <div class="card-body">

                    <h5 class="card-title">Q1</h5>
                    <p class="card-text">The planning task was pretty simple for me.</p>

                    <div class="list-group likert" role="tablist">
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Neutral</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Agree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Agree</button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col">

            <div class="card mb-3">
                <div class="card-body">

                    <h5 class="card-title">Q2</h5>
                    <p class="card-text">The feedback from the interface helped the iPOS making process.</p>

                    <div class="list-group likert" role="tablist">
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Neutral</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Agree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Agree</button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col">

            <div class="card mb-3">
                <div class="card-body">

                    <h5 class="card-title">Q3</h5>
                    <p class="card-text">I am happy with the final Plan of Study.</p>

                    <div class="list-group likert" role="tablist">
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Neutral</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Agree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Agree</button>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col">

            <div class="card mb-3">
                <div class="card-body">

                    <h5 class="card-title">Q4</h5>
                    <p class="card-text">I have submitted an iPOS before.</p>

                    <div class="list-group likert" role="tablist">
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Yes</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">No</button>
                    </div>

                </div>
            </div>

        </div>


        <div class="col">

            <div class="card mb-3">
                <div class="card-body">

                    <h5 class="card-title">Q5</h5>
                    <p class="card-text">I am quite familiar with the ASU iPOS.</p>

                    <div class="list-group likert" role="tablist">
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Disagree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Neutral</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Agree</button>
                        <button class="list-group-item list-group-item-action" data-toggle="list" role="tab">Strongly Agree</button>
                    </div>

                </div>
            </div>

        </div>


        <div class="col">

            <div class="card mb-3">
                <div class="card-body">

                    <h5 class="card-title">Q6</h5>
                    <p class="card-text">I am a </p>

                    <div class="dropdown">
                        <button class="btn btn-outline-dark btn-sm dropdown-toggle btn-block" type="button" 
                        id="youare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Click to Select
                        </button>
                        <div class="dropdown-menu" aria-labelledby="youare">
                            <a class="dropdown-item">Undergrad student</a>
                            <a class="dropdown-item">Graduate student (non-Thesis)</a>
                            <a class="dropdown-item">Graduate student (Thesis)</a>
                            <a class="dropdown-item">Doctoral student</a>
                        </div>
                    </div>

                    <br>
                    <p class="card-text">from</p>
                    <textarea id="which-department" class="form-control mandatory form-control-thin" 
                    placeholder="Department name."></textarea>

                </div>
            </div>

        </div>


    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
            <textarea id="other-feedback" class="form-control optional" placeholder="Any other comments (optional)"></textarea>
        </div>
    </div>

    <div class="alert alert-secondary alert-block" role="alert" id="completeCheck">
        Please answer all the questions to complete the study.
    </div>

    <button class="btn btn-outline-success btn-sm btn-block mb-4" type="button" id="submitFinal">
        Complete Study
    </button>

    </div>

</div>