<div class="row">
    <div class="col">
        <div class="card bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">Student Information</div>
            <div class="card-body">
                <p class="card-text">
                    <p>Jack Daniels (1209123456)</p>
                    <p>International Student</p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                        <input type="Checkbox" aria-label="Checkbox for following text input">
                        </div>
                      </div>
                      <input type="text" class="form-control" aria-label="Text input with radio button" value='RA/TA?' disabled>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

